<div class="container mx-auto px-4">
  <h2 class="text-2xl font-semibold mb-4">User Information</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Roles
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4">
          1
        </td>
        <td class="px-6 py-4">
          John Doe
        </td>
        <td class="px-6 py-4">
          johndoe#example.com
        </td>
        <td class="px-6 py-4">
          Admin
        </td>
      </tr>
      <tr class="bg-gray-50 border-b dark:bg-gray-700 dark:border-gray-600">
        <td class="px-6 py-4">
          2
        </td>
        <td class="px-6 py-4">
          Jane Smith
        </td>
        <td class="px-6 py-4">
          janesmithexample.com
        </td>
        <td class="px-6 py-4">
          User
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4">
          3
        </td>
        <td class="px-6 py-4">
          Emily Johnson
        </td>
        <td class="px-6 py-4">
          emilyjohnsonexample.com
        </td>
        <td class="px-6 py-4">
          Moderator
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
