<!-- Main chat interface -->
<main class="flex-1 overflow-y-auto">
  <div class="py-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <div class="py-4">
        <!-- Chat messages -->
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            @for (currentMessage of messagesChatModel; track currentMessage.id) {

              @if (currentMessage.isQuestion) {
                <app-question question={{currentMessage.body}} />
              }
              @else {
                <app-answer answer={{currentMessage.body}} />
              }
            } @empty {
              <span>Empty Chat</span>
            }


          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Input area -->
<div class="sticky bottom-0 bg-white border-t px-6 py-4">
  <div class="flex">
    <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()"  placeholder="Type your message..." class="flex-grow rounded-l-md px-4 py-2 border-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500">
    <button (click)="sendMessage()"  class="bg-blue-500 text-white rounded-r-md px-4 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"/>
      </svg>
    </button>
  </div>
</div>
